*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 100px 0px 0px;
    overflow: hidden;
}

.checkBox:checked ~ .text{
    text-decoration: line-through;
}

@media (max-width:768px) {
    body{
        padding: 80px 0px 0px;
    }
}

